// stylelint-disable
@font-face {
  font-family: Arial;
  src: url('/src/assets/fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Arial;
  src: url('/src/assets/fonts/Arial-ItalicMT.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Georgia;
  src: url('/src/assets/fonts/Georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Georgia;
  src: url('/src/assets/fonts/Georgia-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: Georgia;
  src: url('/src/assets/fonts/Georgia-Bold.woff') format('woff');
  font-weight: normal;
  font-style: bold;
}
// stylelint-enable
