* {
  box-sizing: border-box;
}

/* set base font size to 10px */
html {
  /* 62.5% of 16px base font size is 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: $color-dark-xl;
  font-weight: 400;
  font-size: 1.6rem;
  font-family: $arial-font;
  line-height: 1.6;
}
