// Color system

$color-dark-xl: #4c4c4c;
$color-dark-s: #cdcdcd;
$color-dark-l: #545454;

$color-light-xl: #fff;

$color-primary: #f1cdb3;

// Typography

$arial-font: Arial, Verdana, sans-serif;
$verdana-font: Verdana, Arial, sans-serif;
