.header-logo-title {
  color: $color-primary;
  font-weight: 400;
  font-size: 3.2rem;
  font-family: $georgia-font;
  font-style: normal;
}

.logo-subtitle {
  color: $color-light-xl;
  font-weight: 100;
  font-size: 1.3rem;
  font-family: $arial-font;
}
