.hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 11.25em;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10.1875em;
  //   justify-content: center;
}

.hero__heading {
  @include h2;
  max-width: 310px;
  color: $color-light-xl;
}

.hero__subheading {
  @include paragraph-l;
  max-width: 460px;
  margin-top: 2.8em;
  color: $color-dark-s;
}

.hero__button {
  margin-top: 2.47em;
}
