.hero {
  background: black;
}

.hero__heading {
  color: $color-light-xl;
  font-weight: 400;
  font-size: 4.4rem;
  font-family: $georgia-font;
  line-height: 1.3;
}

.hero__subheading {
  color: $color-dark-s;
  font-size: 1.5rem;
  font-family: $arial-font;
  line-height: 1.6;
}
