.our-friends {
  @include flex-column;

  &__heading {
    @include h3;
    color: $color-dark-l;
    text-align: center;

    span {
      display: block;
    }

    @media (max-width: $screen-small) {
      @include h3-mobile;
    }
  }

  &__carousel-container {
    display: flex;
    align-items: center;
    margin-top: 3.75em;

    @media (max-width: $screen-small) {
      display: grid;
      margin-top: rem(42px);

      .button-arrow-left,
      .button-arrow-right {
        grid-row: 3/4;
        grid-column: 1/2;
        margin-top: rem(20px);
      }

      .button-arrow-left {
        justify-self: start;
        margin-left: rem(55px);
      }

      .button-arrow-right {
        justify-self: end;
        margin-right: rem(55px);
      }
    }
  }

  &__carousel-wrapper {
    width: 990px;
    margin: 0 53px;
    overflow: hidden;

    @media (max-width: $screen-medium) {
      width: 580px;
      margin: 0 12px;
    }

    @media (max-width: $screen-small) {
      width: 270px;
      margin: 0 12px;
    }
  }

  &__carousel {
    position: relative;
    left: -990px;
    display: flex;
    // gap: 5.625em;
    // gap: 20px;

    // @media (max-width: $screen-medium) {
    //   gap: rem(40px);
    //   margin: 0 rem(12px);
    // }

    @media (max-width: $screen-medium) {
      left: -580px;

      .card:nth-child(3) {
        display: none;
      }
    }

    @media (max-width: $screen-small) {
      left: -270px;

      .card:nth-last-child(-n + 2) {
        display: none;
      }
    }
  }

  &__button {
    margin-top: 3.529em;

    @media (max-width: $screen-small) {
      margin-top: rem(40px);
    }
  }
}

.item {
  display: flex;
}

@keyframes move-right {
  from {
    left: -990px;
  }

  to {
    left: -1980px;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 2s;

  @media (max-width: $screen-medium) {
    @keyframes move-right {
      from {
        left: -580px;
      }

      to {
        left: -1160px;
      }
    }
  }

  @media (max-width: $screen-small) {
    @keyframes move-right {
      from {
        left: -270px;
      }

      to {
        left: -540px;
      }
    }
  }
}

@keyframes move-left {
  from {
    left: -990px;
  }

  to {
    left: 0;
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 2s;

  @media (max-width: $screen-medium) {
    @keyframes move-left {
      from {
        left: -580px;
      }

      to {
        left: 0;
      }
    }
  }

  @media (max-width: $screen-small) {
    @keyframes move-left {
      from {
        left: -270px;
      }

      to {
        left: 0;
      }
    }
  }
}

.item:first-child .card {
  background: LawnGreen;
}

.item:last-child .card {
  background: LightSkyBlue;
}

.item {
  gap: 90px;

  @media (max-width: $screen-medium) {
    gap: 40px;
  }
}
