.our-friends {
  @include flex-column;

  &__heading {
    @include h3;
    color: $color-dark-l;
    text-align: center;

    span {
      display: block;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    margin-top: 3.75em;
    // border: 1px solid green;
  }

  &__cards {
    display: flex;
    gap: 5.625em;
    margin: 0 3.3125em;
  }

  &__button {
    margin-top: 3.529em;
  }
}
