.our-friends {
  @include flex-column;

  &__heading {
    @include h3;
    color: $color-dark-l;
    text-align: center;

    span {
      display: block;
    }

    @media (max-width: $screen-small) {
      @include h3-mobile;
    }
  }

  &__slider {
    display: flex;
    align-items: center;
    margin-top: 3.75em;

    @media (max-width: $screen-small) {
      display: grid;
      margin-top: rem(42px);

      .button-arrow-left,
      .button-arrow-right {
        grid-row: 3/4;
        grid-column: 1/2;
        margin-top: rem(20px);
      }

      .button-arrow-left {
        justify-self: start;
        margin-left: rem(55px);
      }

      .button-arrow-right {
        justify-self: end;
        margin-right: rem(55px);
      }
    }
  }

  &__cards {
    display: flex;
    gap: 5.625em;
    margin: 0 3.3125em;

    @media (max-width: $screen-medium) {
      gap: rem(40px);
      margin: 0 rem(12px);
    }

    @media (max-width: $screen-medium) {
      .card:nth-child(3) {
        display: none;
      }
    }

    @media (max-width: $screen-small) {
      .card:nth-last-child(-n + 2) {
        display: none;
      }
    }
  }

  &__button {
    margin-top: 3.529em;

    @media (max-width: $screen-small) {
      margin-top: rem(40px);
    }
  }
}
