.pets {
  @include flex-column;

  &__heading {
    @include h3;
    color: $color-dark-l;
    text-align: center;

    span {
      display: block;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(60px);
    column-gap: rem(40px);
    row-gap: rem(30px);
  }

  &__button {
    margin-top: 3.529em;
  }
}
