.pets {
  @include flex-column;

  &__heading {
    @include h3;
    margin-top: 1px;
    color: $color-dark-l;
    text-align: center;

    span {
      display: block;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    margin: rem(60px) 0;
    column-gap: rem(40px);
    row-gap: rem(30px);
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 340px;
  }
}
