.wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  // border: 1px solid salmon;

  &__section {
    margin-top: rem(80px);
    margin-bottom: rem(100px);
  }

  @media (max-width: $screen-medium) {
    padding: 0 30px;
  }
}
