.bg-gradient {
  background: url('../assets/img/noise_lines_transparent@2X.png'),
    radial-gradient(75% 170% at 0% 0%, #5b483a 0%, #262425 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
}

.bg-gradient-footer {
  background: url('../assets/img/noise_lines_transparent@2X.png'),
    radial-gradient(80% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    #211f20;
}

.bg-gray {
  background: $color-light-l;
}

.bg-white {
  background: $color-light-xl;
}
